<div class="dialog-width">
  <div mat-dialog-header fxLayout="row" style="flex-direction: row; display: flex;">
    <!-- <mat-toolbar color="warn" style="margin-right: 20px;"><h2>{{title}}</h2></mat-toolbar> -->
    <mat-toolbar [ngClass]="{
      'dialog-info': dialogType == DialogType.Info, 
      'dialog-confirm': dialogType == DialogType.Confirm, 
      'dialog-warning': dialogType == DialogType.Warning, 
      'dialog-error': dialogType == DialogType.Error}">
        <h2>{{title}}</h2>
    </mat-toolbar>
  </div>

  <div mat-dialog-content style="max-height: 78vh;">
      <p>{{message}}</p>
  </div>

  <div mat-dialog-actions class="button-container">
      <ng-container >
        <button *ngFor="let button of getDialogButtons()" class="update-button" color="primary" mat-raised-button (click)="onClick(button)">
          {{ DialogButton[button] | translate}}
        </button>
      </ng-container>
  </div>
</div>
