<div class="dialog-width">
  <div
    mat-dialog-header
    fxLayout="row"
    style="flex-direction: row; display: flex;"
  >
    <mat-toolbar
      [ngClass]="{
        'dialog-info': dialogType == DialogType.Info,
        'dialog-confirm': dialogType == DialogType.Confirm,
        'dialog-warning': dialogType == DialogType.Warning,
        'dialog-error': dialogType == DialogType.Error
      }"
    >
      <h2>{{ title }}</h2>
    </mat-toolbar>
  </div>

  <div mat-dialog-content style="max-height: 78vh;">
    <p>{{ message }}</p>
  </div>

  <div mat-dialog-actions class="button-container">
    <button
      *ngIf="checkButtons(DialogButton.Cancel)"
      class="update-button"
      color="primary"
      mat-raised-button
      (click)="onClick()"
    >
      Cancel
    </button>
    <button
      *ngIf="checkButtons(DialogButton.Yes)"
      class="update-button"
      color="primary"
      mat-raised-button
      (click)="onClick()"
    >
      Yes
    </button>
    <button
      *ngIf="checkButtons(DialogButton.No)"
      class="update-button"
      color="primary"
      mat-raised-button
      (click)="onClick()"
    >
      No
    </button>
    <button
      *ngIf="checkButtons(DialogButton.Abort)"
      class="update-button"
      color="primary"
      mat-raised-button
      (click)="onClick()"
    >
      Abort
    </button>
    <button
      *ngIf="checkButtons(DialogButton.Retry)"
      class="update-button"
      color="primary"
      mat-raised-button
      (click)="onClick()"
    >
      Retry
    </button>
    <button
      *ngIf="checkButtons(DialogButton.Ignore)"
      class="update-button"
      color="primary"
      mat-raised-button
      (click)="onClick()"
    >
      Ignore
    </button>
    <button
      *ngIf="checkButtons(DialogButton.OK)"
      class="update-button"
      color="primary"
      mat-raised-button
      (click)="onClick()"
    >
      OK
    </button>
  </div>
</div>
